# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List of popular languages for Data Science
* List of commonly used libraries in Data Science
* Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are: 
1. Python
2. SQL 
3. R

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. Matplotlib
3. NumPy

| Data Science Tools|
|---------------------|
| Tableau |
|Jupyter Notebooks|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60; rounding down to nearest integer using floor method in math library
import math
math.floor(200/60)

3

## Author
Leslie